/*-----------------------------------------
[[ZOOADMIN]]*/
body,html {
	width: 100%;
	height: 100%;
}

.login {
	display: flex;
	align-items: center;
	justify-content: center;
}
.formZooadmin {
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'canaro', sans-serif;
	width: 50%;
}

.inputZooadmin {
	width: 200px;
	margin-bottom: 10px;
}

input[type='submit'] {
	border: none;
	background: red;
	color: white;
	padding: 10px;
}
